.main {
  display: grid;
  grid-template-columns: 5fr 7fr;
  gap: 2rem;
}

.img {
  width: 100%;
  grid-row: 1/-1;
}
.text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
